@import url(../fonts/manrope/stylesheet.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --color-bg-page: #fff;
  --color-bg-brand: #ffdc00;
  --color-bg-selection: rgba(0, 0, 0, 0.08);
  --color-bg-hover: rgba(0, 0, 0, 0.04);
  --color-bg-border: rgba(0, 0, 0, 0.08);
  --color-bg-stripe: rgba(0, 0, 0, 0.04);
  --color-bg-ghost: rgba(0, 0, 0, 0.06);
  --color-bg-default: #fff;
  --color-bg-tone: rgba(0, 0, 0, 0.5);
  --color-bg-soft: rgba(255, 255, 255, 0.97);
  --color-bg-success: #009973;
  --color-bg-alert: #f00000;
  --color-bg-warning: #ff9500;
  --color-bg-normal: #607590;
  --color-bg-link: rgba(103, 3, 252, 0.12);
  --color-typo-brand: #ffdc00;
  --color-typo-primary: #000;
  --color-typo-secondary: rgba(0, 0, 0, 0.55);
  --color-typo-ghost: rgba(0, 0, 0, 0.35);
  --color-typo-success: #009973;
  --color-typo-warning: #ff9500;
  --color-typo-alert: #f00000;
  --color-typo-normal: #607590;
  --color-link: #ffdc00;
  --color-link-external: #6703fc;
  --color-link-minor: #6703fc;
  --color-link-hover: rgba(103, 3, 252, 0.8);
  --color-control-bg-default: rgb(230, 230, 230);
  --color-control-bg-default-hover: rgb(219, 219, 219);
  --color-control-bg-default-press: rgb(219, 219, 219);
  --color-control-bg-default-disable: rgb(242, 242, 242);
  --color-control-bg-border-default: rgb(179, 179, 179);
  --color-control-bg-border-default-hover: rgb(217, 217, 217);
  --color-control-bg-border-default-press: rgb(179, 179, 179);
  --color-control-bg-border-default-disable: rgb(217, 217, 217);
  --color-control-bg-border-error: #f00000;
  --color-control-bg-border-error-hover: rgb(158, 0, 11);
  --color-control-bg-blank: rgb(255, 255, 255);
  --color-control-bg-blank-hover: rgb(255, 255, 255);
  --color-control-bg-blank-disable: rgb(242, 242, 242);
  --color-control-bg-border-blank: rgb(217, 217, 217);
  --color-control-bg-border-blank-hover: rgb(217, 217, 217);
  --color-control-bg-border-blank-disable: rgb(217, 217, 217);
  --color-control-bg-heavy: #ffdc00;
  --color-control-bg-heavy-hover: #ffdc00;
  --color-control-bg-heavy-press: #ffdc00;
  --color-control-bg-border-heavy: #ffdc00;
  --color-control-bg-border-heavy-hover: #ffdc00;
  --color-control-bg-border-heavy-press: #ffdc00;
  --color-control-bg-pseudo: rgb(255, 255, 255);
  --color-control-bg-pseudo-hover: rgb(247, 247, 247);
  --color-control-bg-border-pseudo: rgb(204, 204, 204);
  --color-control-bg-action: #ffdc00;
  --color-control-bg-action-hover: rgb(127, 43, 253);
  --color-control-bg-action-press: rgb(121, 33, 253);
  --color-control-bg-master: #000;
  --color-control-bg-master-hover: rgb(43, 43, 43);
  --color-control-bg-master-press: rgb(26, 26, 26);
  --color-control-bg-passive: #fff;
  --color-control-bg-progress: #ffdc00;
  --color-control-bg-progress-process: rgb(148, 78, 253);
  --color-control-bg-master-progress: rgb(43, 43, 43);
  --color-control-bg-master-progress-process: rgb(26, 26, 26);
  --color-control-bg-check: #ffdc00;
  --color-control-bg-check-press: rgb(121, 33, 253);
  --color-control-bg-check-hover: rgb(127, 43, 253);
  --color-control-bg-check-disable: rgb(242, 242, 242);
  --color-control-bg-border-check: rgb(68, 2, 167);
  --color-control-bg-border-check-press: rgb(84, 84, 84);
  --color-control-bg-border-check-hover: rgb(84, 84, 84);
  --color-control-bg-faint: #fff;
  --color-control-bg-faint-disable: rgb(199, 199, 199);
  --color-control-bg-focus: rgb(84, 84, 84);
  --color-control-bg-border-focus: #ffdc00;
  --color-control-bg-border-prism: #ffdc00;
  --color-control-bg-shade: rgb(102, 102, 102);
  --color-control-bg-link-default: #6703fc;
  --color-control-bg-link-default-hover: rgb(249, 245, 255);
  --color-control-bg-border-link-default: rgb(188, 160, 233);
  --color-control-bg-border-link-default-hover: rgb(255, 255, 255);
  --color-control-typo-primary: #000;
  --color-control-typo-secondary: rgba(0, 0, 0, 0.6);
  --color-control-typo-vague: #fff;
  --color-control-typo-ghost: rgba(0, 0, 0, 0.3);
  --color-control-typo-passive: #212121;
  --color-control-typo-faint: rgb(255, 255, 255);
  --color-control-typo-disable: rgb(153, 153, 153);
  --color-control-typo-link: #6703fc;
  --color-control-typo-error: #f00000;
  --radius-xs: 2px;
  --radius-s: 4px;
  --radius-m: 8px;
  --radius-l: 12px;
  --radius-xl: 16px;
  --radius-xxl: 20px;
  --gap: var(--space-m);
  --col-gap-third: calc(var(--gap) * 0.33);
  --col-gap-half: calc(var(--gap) * 0.5);
  --col-gap-two-thirds: calc(var(--gap) * 0.66);
  --col-gap-full: var(--gap);
  --col-gap-2x: calc(var(--gap) * 2);
  --col-gap-3x: calc(var(--gap) * 3);
  --menu-unfold: 300px;
  --menu-fold: 56px;
  --shadow-content-default: 0 0 2px 0 rgba(0, 8, 50, 0.04),
    0 2px 4px 0 rgba(0, 8, 50, 0.04), 0 3px 12px 1px rgba(0, 8, 50, 0.08);
  --shadow-content-raise: 0 0 8px -4px rgba(0, 8, 50, 0.04),
    0 4px 12px -2px rgba(0, 8, 50, 0.04), 0 12px 24px 0 rgba(0, 8, 50, 0.08);
  --shadow-cloud-default: 0 4px 20px 1px rgba(0, 8, 50, 0.04),
    0 8px 24px 2px rgba(0, 8, 50, 0.08);
  --shadow-cloud-raise: 0 12px 26px -2px rgba(0, 8, 50, 0.04),
    0 16px 40px -4px rgba(0, 8, 50, 0.08);
  --shadow-modal-default: 0 0 12px 0 rgba(0, 8, 50, 0.16);
  --size-typo-xs: 11px;
  --size-typo-s: 13px;
  --size-typo-m: 15px;
  --size-typo-l: 18px;
  --size-typo-xl: 20px;
  --size-typo-xxl: 24px;
  --size-typo-xxxl: 32px;
  --size-typo-xxxxl: 40px;
  --size-typo-xxxxxl: 56px;
  --line-height-typo-xs: 15px;
  --line-height-typo-s: 18px;
  --line-height-typo-m: 21px;
  --line-height-typo-l: 25px;
  --line-height-typo-xl: 28px;
  --line-height-typo-xxl: 34px;
  --line-height-typo-xxxl: 38px;
  --line-height-typo-xxxxl: 48px;
  --line-height-typo-xxxxxl: 64px;
  --space-xxxs: 2px;
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-s: 12px;
  --space-m: 16px;
  --space-l: 20px;
  --space-xl: 24px;
  --space-xxl: 32px;
  --space-xxxl: 40px;
  --space-xxxxl: 48px;
  --space-xxxxxl: 72px;
  --space-xxxxxxl: 96px;
  --attach-resetIcon-width: 14px;
  --attach-resetIcon-height: 14px;
  --attach-fileFormat-spaceRight: 5px;
  --attach-resetIcon-spaceLeft: 5px;
  --attach-size-s-holder-spaceLeft: 6px;
  --attach-size-m-holder-spaceLeft: 8px;
  --attach-size-l-holder-spaceLeft: 10px;
  --badge-font-family: var(--control-font-family);
  --badge-size-small: 10px;
  --badge-size-large: 16px;
  --badge-font-size: 12px;
  --badge-border-radius: 8px;
  --badge-border-width: 2px;
  --button-box-border-width: 1px;
  --button-box-border-radius: 4px;
  --button-size-s-indentAll: 0 13px;
  --button-size-m-indentAll: 0 15px;
  --button-size-l-indentAll: 0 18px;
  --control-size-xs-height: 28px;
  --typography-control-font-family: inherit;
  --control-size-s-font-size: 13px;
  --control-size-m-font-size: 15px;
  --control-size-l-font-size: 18px;
  --control-size-s-line-height: 18px;
  --control-size-m-line-height: 21px;
  --control-size-l-line-height: 25px;
  --control-size-s-height: 32px;
  --control-size-m-height: 36px;
  --control-size-l-height: 42px;
  --control-size-s-indent: 11px;
  --control-size-m-indent: 13px;
  --control-size-l-indent: 15px;
  --divider-indent-all: 16px;
  --formControlLabel-size-s-indent: 5px;
  --formControlLabel-size-m-indent: 6px;
  --formControlLabel-size-l-indent: 7px;
  --menu-size-s-vertical-space: 4px;
  --menu-size-s-item-icon-spaceRight: 4px;
  --menu-size-m-vertical-space: 5px;
  --menu-size-m-item-icon-spaceRight: 6px;
  --menu-size-l-vertical-space: 6px;
  --menu-size-l-item-icon-spaceRight: 6px;
  --messagebox-tail-width: 20px;
  --messagebox-tail-height: 8px;
  --messagebox-close-width: 16px;
  --messagebox-close-height: 16px;
  --messagebox-content-spaceAll: var(--space-xl);
  --messagebox-size-s-content-spaceAll: var(--space-l);
  --messagebox-size-m-content-spaceAll: var(--space-xl);
  --messagebox-size-l-content-spaceAll: var(--space-xl);
  --messagebox-size-border-radius: 8px;
  --messagebox-size-s-content-maxWidth: 260px;
  --messagebox-size-m-content-minWidth: 200px;
  --messagebox-size-m-content-maxWidth: 280px;
  --messagebox-size-l-content-minWidth: 300px;
  --messagebox-size-l-content-maxWidth: 380px;
  --messagebox-view-default-shadow: 0 6px 20px -4px rgba(0, 0, 0, 0.7);
  --modal-border-radius: 20px;
  --popup-border-radius: 4px;
  --linear-progress-height: 4px;
  --linear-progress-border-radius: 2px;
  --circular-progress-size-xs: 14px;
  --circular-progress-size-s: 26px;
  --circular-progress-size-m: 30px;
  --circular-progress-size-l: 36px;
  --radio-button-indent: 3px;
  --radio-button-border-radius: 4px;
  --radio-button-size-s-space: 0 13px;
  --radio-button-size-m-space: 0 15px;
  --radio-button-size-l-space: 0 18px;
  --tabs-border-height: 1px;
  --tabs-border-color: var(--color-bg-border);
  --tabs-indicator-height: 2px;
  --tabs-indicator-color: var(--color-bg-brand);
  --textfield-borderWidth: 2px;
  --textfield-borderRadius: 4px;
  --tooltip-color-bg: rgba(0, 0, 0, 0.85);
  --tooltip-color-typo: rgb(255, 255, 255);
  --tooltip-border-radius: 0;
  --tooltip-size-s-line-height: 12px;
  --tooltip-size-m-line-height: 14px;
  --tooltip-size-l-line-height: 16px;
  --tooltip-size-s-content-space-all: 10px;
  --tooltip-size-m-content-space-all: 11px 10px;
  --tooltip-size-l-content-space-all: 13px;
  --tooltip-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.4);
  --switch-button-space: 2px;
  --switch-button-opacity-disabled: 1;
  --switch-size-s-borderRadius: 8px;
  --switch-size-s-width: 28px;
  --switch-size-s-height: 16px;
  --switch-size-s-button-borderRadius: 6px;
  --switch-size-s-button-width: 12px;
  --switch-size-s-button-height: 12px;
  --switch-size-s-button-press-width: 14px;
  --switch-size-m-borderRadius: 10px;
  --switch-size-m-width: 36px;
  --switch-size-m-height: 20px;
  --switch-size-m-button-borderRadius: 8px;
  --switch-size-m-button-width: 16px;
  --switch-size-m-button-height: 16px;
  --switch-size-m-button-press-width: 18px;
  --switch-size-l-borderRadius: 15px;
  --switch-size-l-width: 54px;
  --switch-size-l-height: 30px;
  --switch-size-l-button-borderRadius: 12px;
  --switch-size-l-button-width: 24px;
  --switch-size-l-button-height: 24px;
  --switch-size-l-button-press-width: 26px;
  --switch-size-l-button-space: 3px;
  --typography-font-family: inherit;
  --typography-font-weight-light: 300;
  --typography-font-weight-regular: 400;
  --typography-font-weight-medium: 500;
  --typography-font-weight-bold: 700;
  --typography-letter-spacing-xs: 0.6px;
  --typography-letter-spacing-s: 1px;
  --typography-letter-spacing-m: 2px;
  --skeleton-border-radius: var(--radius-s);
  --skeleton-color-bg: var(--color-bg-border);
}

body {
  font-family: "Manrope", sans-serif !important;
}
.dDfmCR {
  border-left: 2px solid var(--color-control-bg-check);
}




